body{
  background-color: rgb(66, 19, 21);
  font-family: Tahoma, sans-serif;/* نوع خط */
  background-image: url(caver.png);
}


.index{
  background-color: rgb(61, 13, 13); 
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius:10px ;  /*يجعل الحواف مستديره */
  border: 5px solid #ccc; /*لعمل ضلال */
}


nav a{
  background-color: rgb(252, 89, 89);
  margin: 15px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right:  10px; ;
  padding-block: 15px;
  border-radius: 5px; /*لتقويس حواف المربع */
  display: inline-block; /* لجعل مربع الرابط فقط لحدول الموقع */
  color:white;
  text-decoration: none;
}


.divImg{
  padding-top: 100px;
}
.Instagram{
  width: 50px;
  background-color: rgb(64, 26, 186);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius:10px ;
  border: 5px solid #ccc;
}
.Snapchat{
  width: 50px;
  background-color: rgb(64, 26, 186);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius:10px ;
  border: 5px solid #ccc;
}

.Facebook{
  width: 50px;
  background-color: rgb(64, 26, 186);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius:10px ;
  border: 5px solid #ccc;
}
.X{
  width: 50px;
  background-color: rgb(64, 26, 186);
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius:10px ;
  border: 5px solid #ccc;
}





.divPlay{
  display: inline-block;
  background-color: rgb(10, 10, 48);
  border-radius: 10px;
  text-align: center;
  margin: 20px;
  padding: 50px;
  margin-left: 50px;
  margin-top:  50px; 
  color: aliceblue;
  border-radius:50px ;
  border: 5px solid #ccc;
}

.divPlay img{
  width: 150px;
}



.div_play{
  background-color: rgb(10, 10, 48);
  display: inline-block;
  border-radius: 10px;
  margin-top:  50px; ;
  margin-right: 50px;
  float: right;
  padding: 50px;
  text-align: center;
  color: aliceblue;
  border-radius:50px ;
  border: 5px solid #ccc;
}
.div_play img{
  width: 150px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1px;    /* المسافة الداخلية بين محتوى العنصر وحدوده*/
  position: fixed;   /*position: تحدد طريقة تموضع العنصر في الصفح **fixed: يجعل العنصر ثابتًا في مكانه حتى عند تمرير الصفحة*/
  bottom: 0;   /*تحدد المسافة بين العنصر وأسفل الصفحة*/
  width: 100%;
}

h2{
  color: white;
}
h1{
  color: white;
}

